{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">Panas: приложение для управления задачами и блогом</h2>
    <p>Panas - это удобное и простое приложение, которое позволяет вам создавать, отслеживать и выполнять свои задачи, а также публиковать интересные статьи в своем блоге. Вы можете легко добавлять новые задачи, устанавливать сроки и приоритеты, а также делиться ими с другими пользователями. Ваш блог будет выглядеть профессионально и привлекательно с помощью настраиваемых шаблонов и функций редактирования. Panas - это идеальный инструмент для тех, кто хочет быть продуктивным и творческим.</p>
    <ul>
      <li>Создавайте и отслеживайте задачи</li>
      <li>Публикуйте и делитесь интересными статьями</li>
      <li>Управляйте своим временем и приоритетами эффективно</li>
    </ul>
    <p>Мы в Panas постоянно работаем над улучшением нашего приложения, чтобы обеспечить вам лучший опыт. Если у вас есть какие-либо вопросы или предложения, пожалуйста, не стесняйтесь связаться с нами.</p>
</article>

{% endblock %}

